.about {
  margin: 0 1rem;

  &__intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &-title {
      font-family: "avenir-bold";
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 2rem;
      margin-top: 1.5rem;
      margin-bottom: 1rem;
    }

    &-image {
      height: 100%;
      width: 100%;
      margin: 1.5rem 0;
      object-fit: cover;
    }

    &-quote {
      font-family: "avenir-demi";
      font-size: 0.875rem;
      line-height: 1.375rem;
      padding-bottom: 1rem;
      font-weight: 600;

      &-person {
        padding-bottom: 2rem;
        font-family: "avenir-demi";
        font-size: 0.875rem;
        line-height: 1.375rem;
        font-weight: 600;
      }
    }
  }

  &__bio {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &-name {
      font-family: "avenir-bold";
      font-size: 0.875rem;
      line-height: 1.375rem;
      margin: 0 0 1.5rem 0;
    }
    &-container--one {
      font-family: avenir-regular;
      font-size: 0.8125rem;
      line-height: 1.125rem;
      margin: 0 0 1rem 0;
    }
    &-container--two {
      font-family: avenir-regular;
      font-size: 0.8125rem;
      line-height: 1.125rem;
      margin: 0 0 1.5rem 0;
    }
  }
}
