@font-face {
  font-family: avenir-regular;
  src: url("../../Assets/Font/AvenirNextLTPro-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: avenir-demi;
  src: url("../../Assets/Font/AvenirNextLTPro-Demi.otf");
  font-weight: 600;
}

@font-face {
  font-family: avenir-bold;
  src: url("../../Assets/Font/AvenirNextLTPro-Bold.otf");
  font-weight: 700;
}
