.gallery {
  background-color: $alabaster;
  padding: 1.5rem 1rem 1rem;

  &__title {
    font-family: "avenir-bold";
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 0;
  }

  &__images {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;

    &-item {
      height: 50.625vw;
      width: 100%;
      padding: 0.5rem 0;
      filter: grayscale(1);

      &:hover {
        filter: none;
      }
    }
  }

  @include tablet {
    padding: 3rem 2.25rem 2.25rem;

    &__title {
      font-family: avenir-bold;
      font-size: 2.25rem;
      line-height: 2.75rem;
      padding-top: 3rem;
      padding-bottom: 2.25rem;
    }

    &__images {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;

      &-item {
        height: 16.40625vw;
        width: calc(33% - 12px);
        padding: 0 0 1.5rem 0;
      }
    }
  }

  @include desktop {
    padding: 3rem 2.25rem 2.25rem;

    &__title {
      font-family: avenir-bold;
      font-size: 2.25rem;
      line-height: 2.75rem;
      padding-top: 3rem;
      padding-bottom: 2.25rem;
    }

    &__images {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;

      &-item {
        height: 16.40625vw;
        width: calc(33% - 12px);
        padding: 0 0 1.5rem 0;
      }
    }
  }
}
