.header__nav {
  font-family: avenir;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: $black;
  color: $silver;
  &-logo-container {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }
  &-image {
    width: 7.5rem;
    margin-bottom: 0.5rem;
    max-width: 120px;
    max-height: 20px;
  }
  &-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    margin-top: 0.5rem;
    width: 100%;
    &-item {
      width: 50vw;
      text-align: center;
      position: relative;
      &-link {
        text-decoration: none;
        display: block;
        padding-bottom: 0.44rem;
        color: $mercury;
        &:hover {
          color: $white;
          &::before {
            content: "";
            position: absolute;
            width: 100%;
            border-bottom: 0.4125rem solid $white;
            bottom: 0;
            left: 0;
          }
        }
      }
    }

    &-item #active {
      font-weight: bold;
      color: $white;
      border-bottom: 0.4125rem solid $white;
    }
  }
}

@include tablet {
  .header__nav {
    flex-direction: row;
    &-logo-container {
      margin-top: 0;
    }
    &-image {
      width: 7.5rem;
      margin-bottom: 0rem;
      margin-left: 1.5rem;
    }
    &-menu {
      justify-content: left;
      align-items: center;
      margin-top: 0;
      height: 5rem;
      &-item {
        display: flex;
        align-items: center;
        text-align: center;
        width: 5rem;
        height: 5rem;
        margin-left: 3.5rem;
        border-bottom: unset;

        &-link {
          display: block;
          width: 5rem;
          margin-top: 0.7125rem;
          padding-bottom: 1.4rem;
          padding-top: 1.5rem;
          border-bottom: 0.4125rem solid transparent;
        }
      }
    }
  }
}

@include desktop {
  .header__nav {
    &-logo-container {
      margin-top: 0;
    }
    &-image {
      width: 7.5rem;
      margin-bottom: 0rem;
      margin-left: 11.25rem;
      margin-right: 1.75rem;
    }
    &-menu {
      justify-content: left;
      margin-top: 0;
      &-item {
        margin-left: 1.75rem;
        margin-right: 1.75rem;
        border-bottom: unset;
        &-link {
          border-bottom: 0.4125rem solid transparent;
        }
      }
    }
  }
}
