.comment {
  background-color: $white;
  margin: 0 1rem 0 1rem;
  padding-bottom: 1rem;

  &__title {
    font-family: "avenir";
    font-size: 24px;
    margin: 2rem 0 2.5rem;
    line-height: 32px;
    font-weight: 700;
  }

  &__image {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    background-color: $mercury;
    object-fit: cover;
    margin-top: 1.4rem;
  }

  &__name-container {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid $mercury;
  }

  &__input-container {
    display: flex;
    flex-direction: column;
    &--text {
      font-family: "avenir";
      color: $silver;
      font-size: 0.75rem;
      line-height: 1.25rem;
      margin: 4px 0;
    }
  }

  &__text-container {
    font-family: "avenir";
    font-size: 0.8125rem;
    border: 1px solid $mercury;
    border-radius: 4px;
    width: 14rem;
    padding: 12px;
    background-color: $alabaster;
    border-color: $silver;
    resize: none;
    &:focus {
      border: 1px solid $black;
      outline-width: 0;
    }
    &--error {
      border: 1px solid $error;
    }
    &--one {
      padding: 12px;
      margin: 0 0 4px 0;
      height: 36px;
    }
    &--two {
      padding: 0.625rem 0.625rem 3.125rem 0.625rem;
      height: 36px;
      padding: 12px;
      margin: 0 0 4px 0;
    }
  }

  &__button {
    font-family: "avenir";
    background-color: $black;
    border-style: none;
    height: 2.5rem;
    border-radius: 4px;
    color: $white;
    text-align: center;
    width: 14rem;
    margin: 0 0 2rem 0;
    outline-width: 0;
    padding: 0;
    &:hover {
      background-color: black;
    }
  }

  &__default {
    border-bottom: 1px solid $mercury;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    &--image-one {
      height: 3rem;
      width: 3rem;
      background-color: $mercury;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      float: left;
      border-radius: 2rem;
      margin-top: 1.5rem;
    }
    &--name {
      color: $black;
      font-family: "avenir";
      font-size: 0.8125rem;
      padding: 1.75rem 0 0 1rem;
      margin: 0;
      font-weight: 600;
    }
    &--date {
      color: $silver;
      font-family: "avenir";
      font-size: 0.8125rem;
      margin: 0;
      padding: 1.75rem 0 0 0;
      font-weight: 400;
    }
  }

  &__text-container-default {
    display: flex;
    &--comment {
      word-wrap: break-word;
      width: 96%;
      color: $black;
      font-size: 0.8125rem;
      font-family: "avenir";
      margin: 0;
      padding: 1rem 0 1.5rem 1rem;
    }
  }
}

@include tablet {
  .comment {
    background-color: $white;
    margin: 0 1.5rem 0 1.5rem;
    padding-bottom: 2.25rem;

    &__title {
      font-family: "avenir";
      font-size: 36px;
      line-height: 44px;
      font-weight: 700;
      margin: 3rem 0 3.5rem;
    }

    &__image {
      width: 3rem;
      height: 3rem;
      border-radius: 2rem;
      margin: 1.4rem 1.25rem 0 0;
    }

    &__name-container {
      display: flex;
      justify-content: center;
      border: none;
    }

    &__border-container {
      display: flex;
      justify-content: center;
    }

    &__border {
      width: 33rem;
      border: 1px solid $mercury;
    }

    &__input-container {
      display: flex;
      flex-direction: column;
      &--text {
        font-family: "avenir";
        color: $silver;
        font-size: 0.75rem;
        line-height: 1.25rem;
        margin: 4px 0;
      }
    }

    &__text-container {
      font-family: "avenir";
      font-size: 1rem;
      border: 1px solid $mercury;
      padding: 16px;
      border-radius: 4px;
      width: 28.75rem;
      background-color: $alabaster;
      border-color: $silver;
      resize: none;
      height: 48px;
      &:focus {
        border: 1px solid $black;
        outline-width: 0;
      }
      &--error {
        border: 1px solid $error;
      }
      &--one {
        padding: 0.625rem 1rem 0 1rem;
        margin: 0 0 4px 0;
        height: 48px;
      }
      &--two {
        padding: 0.625rem 1rem 0 1rem;
        margin: 0 0 1.5rem 0;
        height: 48px;
        padding: 16px;
      }
    }

    &__button {
      font-family: "avenir";
      font-size: 1rem;
      background-color: $black;
      border-style: none;
      height: 3rem;
      border-radius: 4px;
      color: $white;
      text-align: center;
      width: 10rem;
      margin: 0 0 1.5rem 0;
      outline-width: 0;
      padding: 0;
      align-self: flex-end;
      &:hover {
        background-color: black;
      }
    }

    &__default-comment {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__default {
      width: 528px;
    }

    &__header {
      position: relative;
      display: flex;
      justify-content: space-between;
      &--image-one {
        position: absolute;
        height: 3rem;
        width: 3rem;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 2rem;
        margin-top: 1.5rem;
      }
      &--name {
        color: $black;
        font-family: "avenir";
        font-size: 1rem;
        font-weight: 600;
        padding: 1.75rem 1rem 0 3.9375rem;
        margin: 0;
      }
      &--date {
        color: $silver;
        font-family: "avenir";
        font-size: 1rem;
        margin: 0;
        padding: 1.75rem 0 0 0;
      }
    }

    &__text-container-default {
      display: flex;
      justify-content: flex-end;
      border-bottom: 1px solid $mercury;
      &--comment {
        color: $black;
        width: 29rem;
        font-size: 0.875rem;
        font-family: "avenir";
        margin: 0;
        padding: 1rem 0 1.5rem 0;
      }
    }
  }
}

@include desktop {
  .comment {
    background-color: $white;
    margin: 0 11.25rem 0 11.25rem;

    &__title {
      font-family: "avenir";
      font-size: 2.25rem;
      margin: 3rem 0 3.5rem;
    }

    &__image {
      width: 3rem;
      height: 3rem;
      border-radius: 2rem;
      margin: 1.4rem 1.25rem 0 0;
    }

    &__name-container {
      display: flex;
      justify-content: center;
    }

    &__input-container {
      display: flex;
      flex-direction: column;
      &--text {
        font-family: "avenir";
        color: $silver;
        font-size: 0.75rem;
        line-height: 1.25rem;
        margin: 0 0 0.5rem 0;
      }
    }

    &__text-container {
      font-family: "avenir";
      font-size: 0.8125rem;
      border: 1px solid $mercury;
      border-radius: 4px;
      padding: 16px;
      width: 28.75rem;
      background-color: $alabaster;
      border-color: $silver;
      resize: none;
      &:focus {
        border: 1px solid $black;
        outline-width: 0;
      }
      &--error {
        border: 1px solid $error;
      }
      &--one {
        padding: 0.625rem 1rem 0 1rem;
        margin: 0 0 4px 0;
        height: 48px;
      }
      &--two {
        padding: 0.625rem 1rem 0 1rem;
        margin: 0 0 4px 0;
        height: 48px;
      }
    }

    &__button {
      font-family: "avenir";
      font-size: 1rem;
      background-color: $black;
      border-style: none;
      height: 3rem;
      border-radius: 4px;
      color: $white;
      text-align: center;
      width: 10rem;
      margin: 0 0 1.5rem 0;
      outline-width: 0;
      padding: 0;
      align-self: flex-end;
      &:hover {
        background-color: black;
      }
    }
  }
}
