@font-face {
  font-family: "avenir";
  src: url("../../assets/font/AvenirNextLTPro-Regular.otf") format("truetype");

  font-weight: 400;
}
@font-face {
  font-family: "avenir";
  src: url("../../assets/font/AvenirNextLTPro-Demi.otf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "avenir";
  src: url("../../assets/font/AvenirNextLTPro-Bold.otf") format("truetype");
  font-weight: 700;
}
