/* mobile-styling-start */
.hero__shows {
  width: 100vw;
  height: 29.5rem;
  background-image: url("../../assets/images/hero-shows.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &-container {
    height: 472px;
    background-color: rgba($black, 0.5);
    padding: 0 1rem 0 1rem;
  }
  &-subtitle {
    font-family: avenir;
    color: $white;
    font-size: 0.875rem;
    margin: 0;
    padding: 4rem 0 0 0;
  }
  &-title {
    font-family: avenir;
    color: $white;
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding: 1rem 0 4rem 0;
    margin: 0;
  }
  &-song-container {
    width: 18rem;
    height: 6rem;
  }
}

/* tablet-styling-start */
@include tablet {
  .hero__shows {
    width: 100vw;
    height: 41.875rem;
    &-container {
      width: 100vw;
      height: 41.875rem;
      padding: 0 1.5rem 0 1.5rem;
    }
    &-subtitle {
      font-size: 1.5rem;
      font-family: avenir;
      padding: 6rem 0 0 0;
    }
    &-title {
      width: 37.8125rem;
      padding: 3rem 0 4rem 0;
      font-size: 3.75rem;
      line-height: 4.25rem;
    }

    &-song-container {
      width: 30rem;
      height: 6rem;
    }
  }
}

/* desktop-styling-start */
@include desktop {
  .hero__shows {
    width: 100vw;
    height: 41.875rem;
    &-container {
      width: 100vw;
      height: 41.875rem;
      display: flex;
    }

    &-subtitle {
      font-size: 1.5rem;
      font-family: avenir;
      padding: 10rem 0 0 0;
    }
    &-title {
      width: 39.8125rem;
      padding: 3rem 4rem 0 0;
      font-size: 3.75rem;
      line-height: 4.25rem;
    }
    &-song-container {
      display: flex;
      padding-top: 17rem;
      align-items: flex-end;
      width: 35rem;
      height: 9.125rem;
    }
  }
}
