.shows {
  padding: 2rem 1rem;
  &__top {
    display: none;
  }
  &__title {
    color: $black;
    padding-bottom: 1rem;
    font-family: "avenir";
    font-size: 1.5rem;
    line-height: 2rem;
  }
  &__new {
    padding: 1.5rem 0 1rem 0;
    border-bottom: 1px solid $mercury;
    display: flex;
    flex-direction: column;
  }
  &__date,
  &__venue,
  &__location {
    color: $silver;
    padding-bottom: 1rem;
    font-family: "avenir";
    font-size: 0.8125rem;
    line-height: 1.125rem;
    &-actual {
      padding-bottom: 1.5rem;
      color: $black;
    }
  }
  &__date-actual {
    font-family: "avenir";
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
  &__venue-actual {
    font-family: "avenir";
    font-size: 0.8125rem;
    line-height: 1.125rem;
  }
  &__location-actual {
    font-family: "avenir";
    font-size: 0.8125rem;
    line-height: 1.125rem;
    padding-bottom: 2rem;
  }
  &__button {
    background-color: $black;
    color: $white;
    font-family: "avenir";
    width: 18.5rem;
    height: 3rem;
    border: none;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
.shows__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;

  .shows__new {
    padding: 16px;

    &:hover {
      background-color: $alabaster;
    }

    &.selected-show {
      background-color: $mercury;
    }
  }
}
/*TABLET SIZING*/
@include tablet {
  .shows {
    padding: 2rem 1.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    display: flex;
    flex-direction: column;
    &__title {
      font-size: 2.25rem;
      line-height: 2.75rem;
      font-weight: 700;
      padding-bottom: 1.5rem;
    }
    &__top {
      display: flex;
      width: 40rem;
      justify-content: space-between;
      padding-left: 1rem;
      font-family: "avenir";
      color: $silver;
      &-venue,
      &-date,
      &-location {
        width: 8.375rem;
        font-size: 0.75rem;
      }
      &-venue {
        padding-left: 2rem;
      }
    }
    &__hidden {
      visibility: hidden;
      width: 10rem;
    }
    &__new {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    &__date,
    &__venue,
    &__location {
      display: none;
      &-actual {
        padding-bottom: 0;
        width: 8.375rem;
      }
    }
    &__date-actual {
      font-size: 1rem;
      line-height: 1.5rem;
    }
    &__location-actual {
      font-size: 0.875rem;
      line-height: 1.375rem;
      font-weight: 400;
    }
    &__venue-actual {
      font-size: 0.875rem;
      line-height: 1.375rem;
      font-weight: 400;
    }
    &__button {
      width: 10rem;
      height: 3rem;
    }
    &__venue-actual {
      padding-left: 2rem;
    }
  }
}
@include desktop {
  .shows {
    padding: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    &__title {
      font-size: 2.25rem;
      line-height: 2.75rem;
      font-weight: 700;
      padding: 0 15rem 1.5rem 10rem;
      align-self: flex-start;
    }
    &__new {
      padding: 1rem 0;
    }
    &__top {
      padding-bottom: 0.75rem;
      justify-content: flex-start;
      padding-left: 1rem;
    }
  }
}
.shows__container {
  padding-top: 1.35rem;
}
