* {
  margin: 0;
  padding: 0;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* media query for mobile*/
/* media query for tablet*/
/* media query desktops*/
/* media query for mobile*/
/* media query for tablet*/
/* media query desktops*/
@font-face {
  font-family: avenir-regular;
  src: url("../../Assets/Font/AvenirNextLTPro-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: avenir-demi;
  src: url("../../Assets/Font/AvenirNextLTPro-Demi.otf");
  font-weight: 600;
}
@font-face {
  font-family: avenir-bold;
  src: url("../../Assets/Font/AvenirNextLTPro-Bold.otf");
  font-weight: 700;
}
.header__nav {
  font-family: "avenir-regular";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: #323232;
  color: #afafaf;
}
.header__nav-logo-container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
.header__nav-image {
  width: 7.5rem;
  margin-bottom: 0.5rem;
  max-width: 120px;
  max-height: 20px;
}
.header__nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  margin-top: 0.5rem;
  width: 100%;
}
.header__nav-menu-item {
  width: 50vw;
  text-align: center;
  position: relative;
}
.header__nav-menu-item-link {
  text-decoration: none;
  display: block;
  padding-bottom: 0.44rem;
  color: #e1e1e1;
}
.header__nav-menu-item-link:hover {
  color: #ffffff;
}
.header__nav-menu-item-link:hover::before {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 0.4125rem solid #ffffff;
  bottom: 0;
  left: 0;
}
.header__nav-menu-item #active {
  font-weight: bold;
  color: #ffffff;
  border-bottom: 0.4125rem solid #ffffff;
}

@media only screen and (min-width: 768px) {
  .header__nav {
    flex-direction: row;
  }
  .header__nav-logo-container {
    margin-top: 0;
  }
  .header__nav-image {
    width: 7.5rem;
    margin-bottom: 0rem;
    margin-left: 1.5rem;
  }
  .header__nav-menu {
    justify-content: left;
    align-items: center;
    margin-top: 0;
    height: 5rem;
  }
  .header__nav-menu-item {
    display: flex;
    align-items: center;
    text-align: center;
    width: 5rem;
    height: 5rem;
    margin-left: 3.5rem;
    border-bottom: unset;
  }
  .header__nav-menu-item-link {
    display: block;
    width: 5rem;
    margin-top: 0.7125rem;
    padding-bottom: 1.4rem;
    padding-top: 1.5rem;
    border-bottom: 0.4125rem solid transparent;
  }
}
@media only screen and (min-width: 1280px) {
  .header__nav-logo-container {
    margin-top: 0;
  }
  .header__nav-image {
    width: 7.5rem;
    margin-bottom: 0rem;
    margin-left: 11.25rem;
    margin-right: 1.75rem;
  }
  .header__nav-menu {
    justify-content: left;
    margin-top: 0;
  }
  .header__nav-menu-item {
    margin-left: 1.75rem;
    margin-right: 1.75rem;
    border-bottom: unset;
  }
  .header__nav-menu-item-link {
    border-bottom: 0.4125rem solid transparent;
  }
}
.about {
  margin: 0 1rem;
}
.about__intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.about__intro-title {
  font-family: "avenir-bold";
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
.about__intro-image {
  height: 100%;
  width: 100%;
  margin: 1.5rem 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.about__intro-quote {
  font-family: "avenir-demi";
  font-size: 0.875rem;
  line-height: 1.375rem;
  padding-bottom: 1rem;
  font-weight: 600;
}
.about__intro-quote-person {
  padding-bottom: 2rem;
  font-family: "avenir-demi";
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}
.about__bio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.about__bio-name {
  font-family: "avenir-bold";
  font-size: 0.875rem;
  line-height: 1.375rem;
  margin: 0 0 1.5rem 0;
}
.about__bio-container--one {
  font-family: avenir-regular;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  margin: 0 0 1rem 0;
}
.about__bio-container--two {
  font-family: avenir-regular;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  margin: 0 0 1.5rem 0;
}

@media only screen and (min-width: 768px) {
  .about {
    margin: 0 1rem;
  }
  .about__intro-title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    margin: 1.5rem 10rem 1rem 5rem;
  }
  .about__intro-image {
    height: 45.3125vw;
    width: -moz-fit-content;
    width: fit-content;
    margin: 2.25rem 10rem 2.25rem 10rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .about__intro-quote {
    font-family: avenir-demi;
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 2.25rem 7rem 2.25rem 10rem;
    width: -moz-fit-content;
    width: fit-content;
  }
  .about__intro-quote-person {
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 0 7rem 0 10rem;
  }
  .about__bio-name {
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 0 7rem 2.25rem 10rem;
  }
  .about__bio-container--one {
    width: 20rem;
    margin: 0 2.25rem 1rem 10rem;
    display: flex;
    float: left;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
  .about__bio-container--two {
    float: right;
    width: 20rem;
    margin: 0 2.25rem 1rem 1rem;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media only screen and (min-width: 1280px) {
  .about {
    margin: 0 1rem;
  }
  .about__intro-title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    margin: 1.5rem 10rem 1rem 5rem;
  }
  .about__intro-image {
    height: 45vw;
    margin-left: 13rem;
  }
  .about__intro-quote {
    font-family: avenir-demi;
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 2.25rem 21rem 1rem 13rem;
  }
  .about__intro-quote-person {
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 0 21rem 0 13rem;
  }
  .about__bio-name {
    margin: 0 7rem 2.25rem 13rem;
  }
  .about__bio-container--one {
    width: 25rem;
    float: left;
    margin: 0 1rem 1rem 13rem;
  }
  .about__bio-container--two {
    width: 25rem;
    float: right;
    margin: 0 2.25rem 1rem 1rem;
  }
}
.gallery {
  background-color: #fafafa;
  padding: 1.5rem 1rem 1rem;
}
.gallery__title {
  font-family: "avenir-bold";
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0;
}
.gallery__images {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}
.gallery__images-item {
  height: 50.625vw;
  width: 100%;
  padding: 0.5rem 0;
  filter: grayscale(1);
}
.gallery__images-item:hover {
  filter: none;
}
@media only screen and (min-width: 768px) {
  .gallery {
    padding: 3rem 2.25rem 2.25rem;
  }
  .gallery__title {
    font-family: avenir-bold;
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding-top: 3rem;
    padding-bottom: 2.25rem;
  }
  .gallery__images {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .gallery__images-item {
    height: 16.40625vw;
    width: calc(33% - 12px);
    padding: 0 0 1.5rem 0;
  }
}
@media only screen and (min-width: 1280px) {
  .gallery {
    padding: 3rem 2.25rem 2.25rem;
  }
  .gallery__title {
    font-family: avenir-bold;
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding-top: 3rem;
    padding-bottom: 2.25rem;
  }
  .gallery__images {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .gallery__images-item {
    height: 16.40625vw;
    width: calc(33% - 12px);
    padding: 0 0 1.5rem 0;
  }
}

.footer {
  background-color: #323232;
  color: #ffffff;
  padding: 0 1rem;
  font-family: "avenir-regular";
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
.footer__title {
  font-family: "avenir-bold";
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 2rem 0 1.5rem 0;
}
.footer__social {
  padding-bottom: 2rem;
}
.footer__social-link {
  margin-right: 1.6rem;
}
.footer__logo {
  display: none;
}
.footer__contact-name {
  font-size: 0.875rem;
  line-height: 1.375rem;
  padding-bottom: 1.25rem;
}
.footer__contact-location, .footer__contact-link {
  color: #afafaf;
  text-decoration: none;
  margin-bottom: 1.25rem;
}
.footer__copyright {
  color: #afafaf;
  padding-bottom: 2rem;
}

@media only screen and (min-width: 768px) {
  .footer {
    padding: 0 1.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .footer__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding: 3rem 0 3.5rem 0;
  }
  .footer__social {
    padding: 0 8rem 0 0;
  }
  .footer__social-link {
    margin-right: 2rem;
  }
  .footer__logo {
    display: inherit;
    max-width: 120px;
    max-height: 20px;
  }
  .footer__contact {
    padding-right: 1.875rem;
  }
  .footer__contact-name {
    font-size: 1rem;
    line-height: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .footer__contact-container {
    display: flex;
    justify-content: left;
  }
  .footer__contact-location {
    padding-bottom: 0.25rem;
  }
  .footer__contact-link {
    margin-bottom: 2.5rem;
  }
}
@media only screen and (min-width: 1280px) {
  .footer {
    padding: 0 11rem;
  }
  .footer__social {
    padding-right: 30rem;
  }
  .footer__contact {
    padding-right: 3.25rem;
  }
}/*# sourceMappingURL=bio.css.map */