@font-face {
  font-family: "avenir";
  src: url("../../assets/font/AvenirNextLTPro-Regular.otf") format("truetype"), url("../../assets/font/Alternative files/AvenirNextLTPro-Regular") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "avenir";
  src: url("../../assets/font/AvenirNextLTPro-Demi.otf") format("truetype"), url("../../assets/font/Alternative files/AvenirNextLTPro-Demi") format("truetype");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "avenir";
  src: url("../../assets/font/AvenirNextLTPro-Bold.otf") format("truetype"), url("../../assets/font/Alternative files/AvenirNextLTPro-Bold") format("truetype");
  font-style: normal;
  font-weight: 700;
}
* {
  margin: 0;
  padding: 0;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "avenir";
}

.comment {
  background-color: #ffffff;
  margin: 0 1rem 0 1rem;
  padding-bottom: 1rem;
}
.comment__title {
  font-family: "avenir";
  font-size: 24px;
  margin: 2rem 0 2.5rem;
  line-height: 32px;
  font-weight: 700;
}
.comment__image {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  background-color: #e1e1e1;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 1.4rem;
}
.comment__name-container {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid #e1e1e1;
}
.comment__input-container {
  display: flex;
  flex-direction: column;
}
.comment__input-container--text {
  font-family: "avenir";
  color: #afafaf;
  font-size: 0.75rem;
  line-height: 1.25rem;
  margin: 4px 0;
}
.comment__text-container {
  font-family: "avenir";
  font-size: 0.8125rem;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  width: 14rem;
  padding: 12px;
  background-color: #fafafa;
  border-color: #afafaf;
  resize: none;
}
.comment__text-container:focus {
  border: 1px solid #323232;
  outline-width: 0;
}
.comment__text-container--error {
  border: 1px solid #d22d2d;
}
.comment__text-container--one {
  padding: 12px;
  margin: 0 0 4px 0;
  height: 36px;
}
.comment__text-container--two {
  padding: 0.625rem 0.625rem 3.125rem 0.625rem;
  height: 36px;
  padding: 12px;
  margin: 0 0 4px 0;
}
.comment__button {
  font-family: "avenir";
  background-color: #323232;
  border-style: none;
  height: 2.5rem;
  border-radius: 4px;
  color: #ffffff;
  text-align: center;
  width: 14rem;
  margin: 0 0 2rem 0;
  outline-width: 0;
  padding: 0;
}
.comment__button:hover {
  background-color: black;
}
.comment__default {
  border-bottom: 1px solid #e1e1e1;
}
.comment__header {
  display: flex;
  justify-content: space-between;
}
.comment__header--image-one {
  height: 3rem;
  width: 3rem;
  background-color: #e1e1e1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  float: left;
  border-radius: 2rem;
  margin-top: 1.5rem;
}
.comment__header--name {
  color: #323232;
  font-family: "avenir";
  font-size: 0.8125rem;
  padding: 1.75rem 0 0 1rem;
  margin: 0;
  font-weight: 600;
}
.comment__header--date {
  color: #afafaf;
  font-family: "avenir";
  font-size: 0.8125rem;
  margin: 0;
  padding: 1.75rem 0 0 0;
  font-weight: 400;
}
.comment__text-container-default {
  display: flex;
}
.comment__text-container-default--comment {
  word-wrap: break-word;
  width: 96%;
  color: #323232;
  font-size: 0.8125rem;
  font-family: "avenir";
  margin: 0;
  padding: 1rem 0 1.5rem 1rem;
}

@media only screen and (min-width: 768px) {
  .comment {
    background-color: #ffffff;
    margin: 0 1.5rem 0 1.5rem;
    padding-bottom: 2.25rem;
  }
  .comment__title {
    font-family: "avenir";
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    margin: 3rem 0 3.5rem;
    padding-left: 10rem;
  }
  .comment__image {
    width: 3rem;
    height: 3rem;
    border-radius: 2rem;
    margin: 1.4rem 1.25rem 0 0;
  }
  .comment__name-container {
    display: flex;
    justify-content: center;
    border: none;
  }
  .comment__border-container {
    display: flex;
    justify-content: center;
  }
  .comment__border {
    width: 33rem;
    border: 1px solid #e1e1e1;
  }
  .comment__input-container {
    display: flex;
    flex-direction: column;
  }
  .comment__input-container--text {
    font-family: "avenir";
    color: #afafaf;
    font-size: 0.75rem;
    line-height: 1.25rem;
    margin: 4px 0;
  }
  .comment__text-container {
    font-family: "avenir";
    font-size: 1rem;
    border: 1px solid #e1e1e1;
    padding: 16px;
    border-radius: 4px;
    width: 28.75rem;
    background-color: #fafafa;
    border-color: #afafaf;
    resize: none;
    height: 48px;
  }
  .comment__text-container:focus {
    border: 1px solid #323232;
    outline-width: 0;
  }
  .comment__text-container--error {
    border: 1px solid #d22d2d;
  }
  .comment__text-container--one {
    padding: 0.625rem 1rem 0 1rem;
    margin: 0 0 4px 0;
    height: 48px;
  }
  .comment__text-container--two {
    padding: 0.625rem 1rem 0 1rem;
    margin: 0 0 1.5rem 0;
    height: 48px;
    padding: 16px;
  }
  .comment__button {
    font-family: "avenir";
    font-size: 1rem;
    background-color: #323232;
    border-style: none;
    height: 3rem;
    border-radius: 4px;
    color: #ffffff;
    text-align: center;
    width: 10rem;
    margin: 0 0 1.5rem 0;
    outline-width: 0;
    padding: 0;
    align-self: flex-end;
  }
  .comment__button:hover {
    background-color: black;
  }
  .comment__default-comment {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .comment__default {
    width: 528px;
  }
  .comment__header {
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  .comment__header--image-one {
    position: absolute;
    height: 3rem;
    width: 3rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 2rem;
    margin-top: 1.5rem;
  }
  .comment__header--name {
    color: #323232;
    font-family: "avenir";
    font-size: 1rem;
    font-weight: 600;
    padding: 1.75rem 1rem 0 3.9375rem;
    margin: 0;
  }
  .comment__header--date {
    color: #afafaf;
    font-family: "avenir";
    font-size: 1rem;
    margin: 0;
    padding: 1.75rem 0 0 0;
  }
  .comment__text-container-default {
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid #e1e1e1;
  }
  .comment__text-container-default--comment {
    color: #323232;
    width: 29rem;
    font-size: 0.875rem;
    font-family: "avenir";
    margin: 0;
    padding: 1rem 0 1.5rem 0;
  }
}
@media only screen and (min-width: 1280px) {
  .comment {
    background-color: #ffffff;
    margin: 0 11.25rem 0 11.25rem;
  }
  .comment__title {
    font-family: "avenir";
    font-size: 2.25rem;
    margin: 3rem 0 3.5rem;
    padding-left: 10rem;
  }
  .comment__image {
    width: 3rem;
    height: 3rem;
    border-radius: 2rem;
    margin: 1.4rem 1.25rem 0 0;
  }
  .comment__name-container {
    display: flex;
    justify-content: center;
  }
  .comment__input-container {
    display: flex;
    flex-direction: column;
  }
  .comment__input-container--text {
    font-family: "avenir";
    color: #afafaf;
    font-size: 0.75rem;
    line-height: 1.25rem;
    margin: 0 0 0.5rem 0;
  }
  .comment__text-container {
    font-family: "avenir";
    font-size: 0.8125rem;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    padding: 16px;
    width: 28.75rem;
    background-color: #fafafa;
    border-color: #afafaf;
    resize: none;
  }
  .comment__text-container:focus {
    border: 1px solid #323232;
    outline-width: 0;
  }
  .comment__text-container--error {
    border: 1px solid #d22d2d;
  }
  .comment__text-container--one {
    padding: 0.625rem 1rem 0 1rem;
    margin: 0 0 4px 0;
    height: 48px;
  }
  .comment__text-container--two {
    padding: 0.625rem 1rem 0 1rem;
    margin: 0 0 4px 0;
    height: 48px;
  }
  .comment__button {
    font-family: "avenir";
    font-size: 1rem;
    background-color: #323232;
    border-style: none;
    height: 3rem;
    border-radius: 4px;
    color: #ffffff;
    text-align: center;
    width: 10rem;
    margin: 0 0 1.5rem 0;
    outline-width: 0;
    padding: 0;
    align-self: flex-end;
  }
  .comment__button:hover {
    background-color: black;
  }
}
.header__nav {
  font-family: "avenir";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;
  background-color: #323232;
  color: #afafaf;
}
.header__nav-logo-container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
.header__nav-image {
  width: 7.5rem;
  margin-bottom: 0.5rem;
  max-width: 7.5rem;
  max-height: 1.25rem;
}
.header__nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  margin-top: 0.5rem;
  width: 100%;
}
.header__nav-menu-item {
  width: 50vw;
  text-align: center;
  position: relative;
}
.header__nav-menu-item-link {
  text-decoration: none;
  display: block;
  padding-bottom: 0.44rem;
  color: #e1e1e1;
}
.header__nav-menu-item-link:hover, .header__nav-menu-item-link.active {
  color: #ffffff;
  font-weight: bold;
  border-bottom: 0.4125rem solid #ffffff;
}
.header__nav-menu-item-link:hover::before, .header__nav-menu-item-link.active::before {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 0.4125rem solid #ffffff;
  bottom: 0;
  left: 0;
}

@media only screen and (min-width: 768px) {
  .header__nav {
    flex-direction: row;
  }
  .header__nav-logo-container {
    margin-top: 0;
  }
  .header__nav-image {
    width: 7.5rem;
    margin-bottom: 0rem;
    margin-left: 1.5rem;
  }
  .header__nav-menu {
    justify-content: left;
    align-items: center;
    margin-top: 0;
    height: 5rem;
  }
  .header__nav-menu-item {
    display: flex;
    align-items: center;
    text-align: center;
    width: 5rem;
    height: 5rem;
    margin-left: 3.5rem;
    border-bottom: unset;
  }
  .header__nav-menu-item-link {
    display: block;
    width: 5rem;
    margin-top: 0.7125rem;
    padding-bottom: 1.4rem;
    padding-top: 1.5rem;
    border-bottom: 0.4125rem solid transparent;
  }
}
@media only screen and (min-width: 1280px) {
  .header__nav-logo-container {
    margin-top: 0;
  }
  .header__nav-image {
    width: 7.5rem;
    margin-bottom: 0rem;
    margin-left: 11.25rem;
    margin-right: 1.75rem;
  }
  .header__nav-menu {
    justify-content: left;
    margin-top: 0;
  }
  .header__nav-menu-item {
    margin-left: 1.75rem;
    margin-right: 1.75rem;
    border-bottom: unset;
  }
  .header__nav-menu-item-link {
    border-bottom: 0.4125rem solid transparent;
  }
}
.hero {
  height: 11.4375rem;
  width: 100%;
  background-image: url(../../assets/images/hero-bio.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: left;
  align-content: center;
  position: relative;
}
.hero__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.5;
}
.hero__title {
  position: absolute;
  font-family: "avenir";
  color: #ffffff;
  font-size: 1.5rem;
  width: 13rem;
  line-height: 2rem;
  padding: 4rem 0 0 3rem;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
@media only screen and (min-width: 768px) {
  .hero {
    height: 25rem;
  }
  .hero__title {
    font-size: 3.75rem;
    line-height: 4.25rem;
    width: 32rem;
    padding: 8rem 0 0 5rem;
  }
}
@media only screen and (min-width: 1280px) {
  .hero {
    height: 40rem;
  }
  .hero__title {
    padding: 15rem 0 0 7rem;
  }
}

.about {
  margin: 0 1rem;
  color: #323232;
  background-color: #ffffff;
}
.about__intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.about__intro-title {
  font-family: "avenir";
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
.about__intro-image {
  height: 100%;
  width: 100%;
  margin: 1.5rem 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.about__intro-quote {
  font-family: "avenir";
  font-size: 0.875rem;
  line-height: 1.375rem;
  padding-bottom: 1rem;
  font-weight: 600;
}
.about__intro-quote-person {
  padding-bottom: 2rem;
  font-family: "avenir";
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}
.about__bio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.about__bio-name {
  font-family: "avenir";
  font-size: 0.875rem;
  line-height: 1.375rem;
  margin: 0 0 1.5rem 0;
}
.about__bio-container--one {
  font-family: "avenir";
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  margin: 0 0 1rem 0;
}
.about__bio-container--two {
  font-family: "avenir";
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  margin: 0 0 1.5rem 0;
}
.about__bio-container--two__bio-container {
  display: flex;
  flex-wrap: wrap;
}
.about__bio-container--two__bio-container--one, .about__bio-container--two__bio-container--two {
  flex: 1;
  padding: 0 10px;
}

@media only screen and (max-width: 767px) {
  .about__bio__bio-container {
    flex-direction: column;
  }
}
@media only screen and (min-width: 768px) {
  .about {
    margin: 0 1rem;
  }
  .about__intro-title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    margin: 1.5rem 10rem 1rem 5rem;
  }
  .about__intro-image {
    height: 45.3125vw;
    width: -moz-fit-content;
    width: fit-content;
    margin: 2.25rem 10rem 2.25rem 10rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .about__intro-quote {
    font-family: "avenir";
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 2.25rem 7rem 2.25rem 10rem;
    width: -moz-fit-content;
    width: fit-content;
  }
  .about__intro-quote-person {
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 0 7rem 0 10rem;
  }
  .about__bio-name {
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 0 7rem 2.25rem 10rem;
  }
  .about__bio-container--one {
    width: 20rem;
    margin: 0 2.25rem 1rem 10rem;
    display: flex;
    float: left;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
  .about__bio-container--two {
    float: right;
    width: 20rem;
    margin: 0 2.25rem 1rem 1rem;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media only screen and (min-width: 1280px) {
  .about {
    margin: 0 1rem;
  }
  .about__intro-title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    margin: 1.5rem 10rem 1rem 5rem;
  }
  .about__intro-image {
    height: 45vw;
    margin-left: 13rem;
  }
  .about__intro-quote {
    font-family: "avenir";
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 2.25rem 21rem 1rem 13rem;
  }
  .about__intro-quote-person {
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 0 21rem 0 13rem;
  }
  .about__bio-name {
    margin: 0 7rem 2.25rem 13rem;
  }
  .about__bio-container--one {
    width: 30rem;
    float: left;
    margin: 0 1rem 1rem 13rem;
  }
  .about__bio-container--two {
    width: 30rem;
    float: right;
    margin: 0 0 1rem 1rem;
  }
}
.gallery {
  background-color: #fafafa;
  padding: 1.5rem 1rem 1rem;
  color: #323232;
}
.gallery__title {
  font-family: "avenir";
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0;
}
.gallery__images {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}
.gallery__images-item {
  height: 50.625vw;
  width: 100%;
  padding: 0.5rem 0;
  filter: grayscale(1);
}
.gallery__images-item:hover {
  filter: none;
}
@media only screen and (min-width: 768px) {
  .gallery {
    padding: 3rem 2.25rem 2.25rem;
  }
  .gallery__title {
    font-family: "avenir";
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding-top: 3rem;
    padding-bottom: 2.25rem;
  }
  .gallery__images {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .gallery__images-item {
    height: 16.40625vw;
    width: calc(33% - 0.75rem);
    padding: 0 0 1.5rem 0;
  }
}
@media only screen and (min-width: 1280px) {
  .gallery {
    padding: 3rem 2.25rem 2.25rem;
  }
  .gallery__title {
    font-family: "avenir";
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding-top: 3rem;
    padding-bottom: 2.25rem;
  }
  .gallery__images {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .gallery__images-item {
    height: 16.40625vw;
    width: calc(33% - 0.75rem);
    padding: 0 0 1.5rem 0;
  }
}

.footer {
  background-color: #323232;
  color: #ffffff;
  padding: 0 1rem;
  font-family: "avenir";
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
.footer__title {
  font-family: "avenir";
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 2rem 0 1.5rem 0;
}
.footer__social {
  padding-bottom: 2rem;
}
.footer__social-link {
  margin-right: 1.6rem;
}
.footer__logo {
  display: none;
  max-width: 7.5rem;
  max-height: 1.25rem;
}
.footer__contact-name {
  font-size: 0.875rem;
  line-height: 1.375rem;
  padding-bottom: 1.25rem;
}
.footer__contact-location, .footer__contact-link {
  color: #afafaf;
  text-decoration: none;
  margin-bottom: 1.25rem;
}
.footer__logo-tablet-desktop {
  display: none;
}
.footer__copyright {
  color: #afafaf;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

@media only screen and (min-width: 768px) {
  .footer {
    padding: 0 1.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .footer__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer__logo-mobile {
    display: none;
  }
  .footer__logo-tablet-desktop {
    display: block;
    padding-right: 5rem;
    max-width: 7.5rem;
    max-height: 1.25rem;
  }
  .footer__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding: 3rem 0 3.5rem 0;
  }
  .footer__social {
    padding: 0 8rem 0 0;
  }
  .footer__social-link {
    margin-right: 2rem;
  }
  .footer__logo {
    display: inherit;
    max-width: 7.5rem;
    max-height: 1.25rem;
  }
  .footer__contact {
    padding-right: 1.875rem;
  }
  .footer__contact-name {
    font-size: 1rem;
    line-height: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .footer__contact-container {
    display: flex;
    justify-content: left;
  }
  .footer__contact-location {
    padding-bottom: 0.25rem;
  }
  .footer__contact-link {
    margin-bottom: 2.5rem;
  }
}
@media only screen and (min-width: 1280px) {
  .footer {
    padding: 0 11rem;
  }
  .footer__social {
    padding-right: 30rem;
  }
  .footer__contact {
    padding-right: 3.25rem;
  }
}/*# sourceMappingURL=bio.css.map */