@use "./Partials/fonts";
* {
  margin: 0;
  padding: 0;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "avenir";
}

@import "./Partials/mixins";
@import "./Partials/breakpoints";
@import "./Partials/colors";
@import "./Partials/navbar";
@import "./Partials/hero";
@import "./Partials/gallery.scss";
@import "../styles/partials/gallery";
@import "../styles/partials/comments";
@import "./Partials/footer";
.about {
  margin: 0 1rem;
  color: $black;
  background-color: $white;
  &__intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &-title {
      font-family: "avenir";
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 2rem;
      padding-top: 1.5rem;
      padding-bottom: 1rem;
    }

    &-image {
      height: 100%;
      width: 100%;
      margin: 1.5rem 0;
      object-fit: cover;
    }

    &-quote {
      font-family: "avenir";
      font-size: 0.875rem;
      line-height: 1.375rem;
      padding-bottom: 1rem;
      font-weight: 600;

      &-person {
        padding-bottom: 2rem;
        font-family: "avenir";
        font-size: 0.875rem;
        line-height: 1.375rem;
        font-weight: 600;
      }
    }
  }

  &__bio {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    &-name {
      font-family: "avenir";
      font-size: 0.875rem;
      line-height: 1.375rem;
      margin: 0 0 1.5rem 0;
    }
    &-container--one {
      font-family: "avenir";
      font-weight: 400;
      font-size: 0.8125rem;
      line-height: 1.125rem;
      margin: 0 0 1rem 0;
    }
    &-container--two {
      font-family: "avenir";
      font-weight: 400;
      font-size: 0.8125rem;
      line-height: 1.125rem;
      margin: 0 0 1.5rem 0;
      &__bio-container {
        display: flex; // Use flexbox
        flex-wrap: wrap; // Allows items to wrap to next line if needed

        &--one,
        &--two {
          flex: 1; // Each child takes up equal space
          padding: 0 10px; // Add padding for spacing, adjust as needed
        }
      }
    }
  }
}
@include mobile {
  .about__bio__bio-container {
    flex-direction: column;
  }
}
@include tablet {
  .about {
    margin: 0 1rem;
    &__intro {
      &-title {
        font-size: 2.25rem;
        line-height: 2.75rem;
        margin: 1.5rem 10rem 1rem 5rem;
      }
      &-image {
        height: 45.3125vw;
        width: fit-content;
        margin: 2.25rem 10rem 2.25rem 10rem;
        object-fit: cover;
      }
      &-quote {
        font-family: "avenir";
        font-size: 1.5rem;
        line-height: 2rem;
        margin: 2.25rem 7rem 2.25rem 10rem;
        width: fit-content;
        &-person {
          font-size: 1rem;
          line-height: 1.5rem;
          margin: 0 7rem 0 10rem;
        }
      }
    }
    &__bio {
      &-name {
        font-size: 1.5rem;
        line-height: 2rem;
        margin: 0 7rem 2.25rem 10rem;
      }
      &-container--one {
        width: 20rem;
        margin: 0 2.25rem 1rem 10rem;
        display: flex;
        float: left;
        font-size: 0.875rem;
        line-height: 1.375rem;
      }

      &-container--two {
        float: right;
        width: 20rem;
        margin: 0 2.25rem 1rem 1rem;
        font-size: 0.875rem;
        line-height: 1.375rem;
      }
    }
  }
}

@include desktop {
  .about {
    margin: 0 1rem;
    &__intro {
      &-title {
        font-size: 2.25rem;
        line-height: 2.75rem;
        margin: 1.5rem 10rem 1rem 5rem;
      }
      &-image {
        height: 45vw;
        margin-left: 13rem;
      }
      &-quote {
        font-family: "avenir";
        font-size: 1.5rem;
        line-height: 2rem;
        margin: 2.25rem 21rem 1rem 13rem;
        &-person {
          font-size: 1rem;
          line-height: 1.5rem;
          margin: 0 21rem 0 13rem;
        }
      }
    }
    &__bio {
      &-name {
        margin: 0 7rem 2.25rem 13rem;
      }
      &-container--one {
        width: 30rem;
        float: left;
        margin: 0 1rem 1rem 13rem;
      }
      &-container--two {
        width: 30rem;
        float: right;
        margin: 0 0 1rem 1rem;
      }
    }
  }
}
