@use "./Partials/fonts";
* {
  margin: 0;
  padding: 0;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "avenir";
}

@import "./Partials/mixins";
@import "./Partials/breakpoints";
@import "./Partials/colors";
@import "./Partials/navbar";
@import "./Partials/hero";
@import "./Partials/about";
@import "./Partials/gallery.scss";
@import "../styles/partials/gallery";
@import "./Partials/footer";
