@font-face {
  font-family: "avenir";
  src: url("../../assets/font/AvenirNextLTPro-Regular.otf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "avenir";
  src: url("../../assets/font/AvenirNextLTPro-Demi.otf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "avenir";
  src: url("../../assets/font/AvenirNextLTPro-Bold.otf") format("truetype");
  font-weight: 700;
}
/* media query for mobile*/
/* media query for tablet*/
/* media query desktops*/
/* media query for mobile*/
/* media query for tablet*/
/* media query desktops*/
.header__nav {
  font-family: "avenir";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: #323232;
  color: #afafaf;
}
.header__nav-logo-container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
.header__nav-image {
  width: 7.5rem;
  margin-bottom: 0.5rem;
  max-width: 120px;
  max-height: 20px;
}
.header__nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  margin-top: 0.5rem;
  width: 100%;
}
.header__nav-menu-item {
  width: 50vw;
  text-align: center;
  position: relative;
}
.header__nav-menu-item-link {
  text-decoration: none;
  display: block;
  padding-bottom: 0.44rem;
  color: #e1e1e1;
}
.header__nav-menu-item-link:hover {
  color: #ffffff;
}
.header__nav-menu-item-link:hover::before {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 0.4125rem solid #ffffff;
  bottom: 0;
  left: 0;
}
.header__nav-menu-item #active {
  font-weight: bold;
  color: #ffffff;
  border-bottom: 0.4125rem solid #ffffff;
}

@media only screen and (min-width: 768px) {
  .header__nav {
    flex-direction: row;
  }
  .header__nav-logo-container {
    margin-top: 0;
  }
  .header__nav-image {
    width: 7.5rem;
    margin-bottom: 0rem;
    margin-left: 1.5rem;
  }
  .header__nav-menu {
    justify-content: left;
    align-items: center;
    margin-top: 0;
    height: 5rem;
  }
  .header__nav-menu-item {
    display: flex;
    align-items: center;
    text-align: center;
    width: 5rem;
    height: 5rem;
    margin-left: 3.5rem;
    border-bottom: unset;
  }
  .header__nav-menu-item-link {
    display: block;
    width: 5rem;
    margin-top: 0.7125rem;
    padding-bottom: 1.4rem;
    padding-top: 1.5rem;
    border-bottom: 0.4125rem solid transparent;
  }
}
@media only screen and (min-width: 1280px) {
  .header__nav-logo-container {
    margin-top: 0;
  }
  .header__nav-image {
    width: 7.5rem;
    margin-bottom: 0rem;
    margin-left: 11.25rem;
    margin-right: 1.75rem;
  }
  .header__nav-menu {
    justify-content: left;
    margin-top: 0;
  }
  .header__nav-menu-item {
    margin-left: 1.75rem;
    margin-right: 1.75rem;
    border-bottom: unset;
  }
  .header__nav-menu-item-link {
    border-bottom: 0.4125rem solid transparent;
  }
}
/* mobile-styling-start */
.hero__shows {
  width: 100vw;
  height: 29.5rem;
  background-image: url("../../assets/images/hero-shows.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero__shows-container {
  height: 472px;
  background-color: rgba(50, 50, 50, 0.5);
  padding: 0 1rem 0 1rem;
}
.hero__shows-subtitle {
  font-family: avenir;
  color: #ffffff;
  font-size: 0.875rem;
  margin: 0;
  padding: 4rem 0 0 0;
}
.hero__shows-title {
  font-family: avenir;
  color: #ffffff;
  font-size: 2.25rem;
  line-height: 2.75rem;
  padding: 1rem 0 4rem 0;
  margin: 0;
}
.hero__shows-song-container {
  width: 18rem;
  height: 6rem;
}

/* tablet-styling-start */
@media only screen and (min-width: 768px) {
  .hero__shows {
    width: 100vw;
    height: 41.875rem;
  }
  .hero__shows-container {
    width: 100vw;
    height: 41.875rem;
    padding: 0 1.5rem 0 1.5rem;
  }
  .hero__shows-subtitle {
    font-size: 1.5rem;
    font-family: avenir;
    padding: 6rem 0 0 0;
  }
  .hero__shows-title {
    width: 37.8125rem;
    padding: 3rem 0 4rem 0;
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
  .hero__shows-song-container {
    width: 30rem;
    height: 6rem;
  }
}
/* desktop-styling-start */
@media only screen and (min-width: 1280px) {
  .hero__shows {
    width: 100vw;
    height: 41.875rem;
  }
  .hero__shows-container {
    width: 100vw;
    height: 41.875rem;
    display: flex;
  }
  .hero__shows-subtitle {
    font-size: 1.5rem;
    font-family: avenir;
    padding: 10rem 0 0 0;
  }
  .hero__shows-title {
    width: 39.8125rem;
    padding: 3rem 4rem 0 0;
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
  .hero__shows-song-container {
    display: flex;
    padding-top: 17rem;
    align-items: flex-end;
    width: 35rem;
    height: 9.125rem;
  }
}
/*MOBILE SIZING*/
.shows {
  padding: 2rem 1rem;
}
.shows__top {
  display: none;
}
.shows__title {
  color: #323232;
  padding-bottom: 1rem;
  font-family: "avenir";
  font-size: 24px;
  line-height: 32px;
}
.shows__new {
  padding: 1.5rem 0 1rem 0;
  border-bottom: 1px solid #e1e1e1;
  display: flex;
  flex-direction: column;
}
.shows__date, .shows__venue, .shows__location {
  color: #afafaf;
  padding-bottom: 1rem;
  font-family: "avenir";
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
.shows__date-actual, .shows__venue-actual, .shows__location-actual {
  padding-bottom: 1.5rem;
  color: #323232;
}
.shows__date-actual {
  font-family: "avenir";
  font-size: 0.875rem;
  line-height: 1.375rem;
}
.shows__venue-actual {
  font-family: "avenir";
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
.shows__location-actual {
  font-family: "avenir";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  padding-bottom: 2rem;
}
.shows__button {
  background-color: #323232;
  color: #ffffff;
  font-family: "avenir";
  width: 18.5rem;
  height: 3rem;
  border: none;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.375rem;
}

.shows__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
}
.shows__container .shows__new {
  padding: 16px;
}
.shows__container .shows__new:hover {
  background-color: #fafafa;
}
.shows__container .shows__new.selected-show {
  background-color: #e1e1e1;
}

/*TABLET SIZING*/
@media only screen and (min-width: 768px) {
  .shows {
    padding: 2rem 1.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    display: flex;
    flex-direction: column;
  }
  .shows__title {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    padding-bottom: 1.5rem;
  }
  .shows__top {
    display: flex;
    width: 40rem;
    justify-content: space-between;
    padding-left: 1rem;
    font-family: "avenir";
    color: #afafaf;
  }
  .shows__top-venue, .shows__top-date, .shows__top-location {
    width: 8.375rem;
    font-size: 0.75rem;
  }
  .shows__top-venue {
    padding-left: 2rem;
  }
  .shows__hidden {
    visibility: hidden;
    width: 10rem;
  }
  .shows__new {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .shows__date, .shows__venue, .shows__location {
    display: none;
  }
  .shows__date-actual, .shows__venue-actual, .shows__location-actual {
    padding-bottom: 0;
    width: 8.375rem;
  }
  .shows__date-actual {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .shows__location-actual {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
  .shows__venue-actual {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
  .shows__button {
    width: 10rem;
    height: 3rem;
  }
  .shows__venue-actual {
    padding-left: 2rem;
  }
}
/*DESKTOP SIZING*/
@media only screen and (min-width: 1280px) {
  .shows {
    padding: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .shows__title {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    padding: 0 15rem 1.5rem 10rem;
    align-self: flex-start;
  }
  .shows__new {
    padding: 1rem 0;
  }
  .shows__top {
    padding-bottom: 0.75rem;
    justify-content: flex-start;
    padding-left: 1rem;
  }
}
.shows__container {
  padding-top: 1.35rem;
}

.footer {
  background-color: #323232;
  color: #ffffff;
  padding: 0 1rem;
  font-family: "avenir";
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
.footer__title {
  font-family: "avenir";
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 2rem 0 1.5rem 0;
}
.footer__social {
  padding-bottom: 2rem;
}
.footer__social-link {
  margin-right: 1.6rem;
}
.footer__logo {
  display: none;
}
.footer__contact-name {
  font-size: 0.875rem;
  line-height: 1.375rem;
  padding-bottom: 1.25rem;
}
.footer__contact-location, .footer__contact-link {
  color: #afafaf;
  text-decoration: none;
  margin-bottom: 1.25rem;
}
.footer__copyright {
  color: #afafaf;
  padding-bottom: 2rem;
}

@media only screen and (min-width: 768px) {
  .footer {
    padding: 0 1.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .footer__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding: 3rem 0 3.5rem 0;
  }
  .footer__social {
    padding: 0 8rem 0 0;
  }
  .footer__social-link {
    margin-right: 2rem;
  }
  .footer__logo {
    display: inherit;
    max-width: 120px;
    max-height: 20px;
  }
  .footer__contact {
    padding-right: 1.875rem;
  }
  .footer__contact-name {
    font-size: 1rem;
    line-height: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .footer__contact-container {
    display: flex;
    justify-content: left;
  }
  .footer__contact-location {
    padding-bottom: 0.25rem;
  }
  .footer__contact-link {
    margin-bottom: 2.5rem;
  }
}
@media only screen and (min-width: 1280px) {
  .footer {
    padding: 0 11rem;
  }
  .footer__social {
    padding-right: 30rem;
  }
  .footer__contact {
    padding-right: 3.25rem;
  }
}
* {
  margin: 0;
  padding: 0;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "avenir";
}/*# sourceMappingURL=shows.css.map */