@use "../styles/partials/fonts";
@import "../styles/partials/mixins";
@import "../styles/partials/breakpoints";
@import "../styles/partials/colors";
@import "../styles/partials/navbar";
@import "../styles/partials/hero-shows";
@import "../styles/partials/shows";
@import "../styles/partials/footer";

* {
  margin: 0;
  padding: 0;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "avenir";
}
